.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    &__body{
        position: relative;
        padding: 32px;
        width: 560px;
        border-radius: 12px;
        background-color: var(--white-bg);
    }
    &__close_btn{
        position: absolute;
        top: 37px;
        right: 37px;
        opacity: 0.5;
        cursor: pointer;
        path{
            fill: var(--text-paragraph);
        }
    }
    label{
        margin-top: 16px;
        &:nth-child(1){
            margin-top: 0px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    input{
        padding: 14px 16px;
        border: 1px solid var(--gray-light);
        border-radius: 12px;
        width: 100%;
        margin-top: 10px;
        font-family: 'PTRoot';
        transition: border 0.2s ease-in-out;
    }
    button{
        margin: 32px auto;
        margin-bottom: 0px;
        padding: 14px 85px;
    }
    h1{
        text-align: center;
    }
}

.active{
    opacity: 1;
    pointer-events: all;
}