.breadcrumbs{
    background-color: #EFF0F2;
    &__body{
        padding: 24px 0px;
    }
    &__link{
        margin-left: 5px;
        cursor: pointer;
        &::before{
            content: '/';
            color: var(--text-title);
            margin-right: 5px;
        }
        &:nth-last-child(-n+1){
            color: var(--text-paragraph);
        }
    }
    &__links{
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: var(--text-title);
        }
    }
}