@import url(../assets/fonts/fonts.scss);

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input[type="checkbox"],
input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background: url(../assets/icons/check_box_outline_blank.svg) center no-repeat;
  width: 18px;
  height: 18px;
  transition: background 0.2s ease-in-out;
  &:checked {
    background: url(../assets/icons/check_box.svg) center no-repeat;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PTRoot";
  font-size: inherit;
  font-weight: 400;
  color: var(--text-title);
}
h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
}
h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
p {
  font-family: "PTRoot";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-title);
}
span {
  font-family: "PTRoot";
}
._container {
  max-width: 1140px;
  margin: 0 auto;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
::placeholder {
  font-family: "PTRoot";
  color: var(--text-paragraph);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
:root {
  --main-color: #7984c0;
  --main-red: #eb5783;
  --text-title: #121720;
  --text-paragraph: #9095a9;
  --item-bg: #c4c4c4;
  --gray-light: #eff0f2;
  --white-bg: #ffffff;
  --main-green: #6fcf97;
}
