.productarea {
    position: relative;
    &__body {
        display: flex;
        padding: 32px 0px 64px 0px;
        column-gap: 24px;
    }
    &__content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 24px;
        width: 100%;
        height: 100%;
    }
    &__sort {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__sort_action {
        display: flex;
        align-items: center;
        span {
            margin-right: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--text-paragraph);
        }
    }
    &__product_loader{
        width: 100%;
        display: flex;
        justify-content: center
    }
    &__empty{
        margin-top: 124px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg{
            width: 96px;
            height: 96px;
            path{
                fill: var(--gray-light);
            }
        }
        span{
            margin-top: 24px;
            font-weight: 400;
            line-height: 25px;
            font-size: 20px;
            color: var(--text-paragraph);
        }
    }
}