.verified{
    &__verified {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 8px;
        svg {
            width: 20px;
            height: 20px;
            path {
                fill: var(--main-color);
            }
        }
    }
    &__verified_show{
        position: absolute;
        top: -10px;
        opacity: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white-bg);
        padding: 6px 12px;
        border-radius: 16px;
        transition: all 0.3s ease-in-out;
        span{
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
        }
    }
}

.hover{
    top: -20px;
    opacity: 1;
}