.brandsitem {
    cursor: pointer;
    &__body {
        width: 267px;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 267px;
        border-radius: 16px;
        border: 1px solid #EFF0F2;
        overflow: hidden;
    }
    &__link {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__ico{
        opacity: 0.5;
        margin-right: 0px;
        path{
            fill: var(--text-paragraph);
        }
        transition: margin-right 0.3s ease-in-out;
    }
    &:hover{
        .brandsitem__ico{
            margin-right: 12px;
            path{
                fill: var(--main-color);
                transition: fill 0.3s ease-in-out;
            }
        }
    }
}
