.item {
    width: 267px;
    &__body {
        border-radius: 16px;
    }
    &__img {
        position: relative;
        img {
            border-radius: 16px;
            width: 100%;
            max-height: 267px;
            object-fit: cover;
        }
    }
    &__adtinfo {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 16px;
        top: 0;
        left: 0;
    }
    &__discount {
        display: inline;
        padding: 4px 12px;
        background-color: var(--main-red);
        border-radius: 8px;
        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
        }
    }
    &__inf {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }
    &__name {
        flex: 1 1 auto;
        h2 {
            pointer-events: all;
            cursor: pointer;
            font-weight: 500;
        }
    }
    &__price {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: var(--text-title);
    }
    &__discount_price {
        margin-left: 6px;
        justify-content: flex-end;
        align-items: center;
    }
    &__dis_price {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: var(--main-red);
        text-decoration: line-through;
        text-decoration-color: var(--main-red);
    }
    &__price_uah_dis {
        flex-shrink: 0;
        height: 16px;
        width: 16px;
        path {
            fill: var(--main-red);
        }
    }
    &__price_uah {
        flex-shrink: 0;
        height: 16px;
        width: 16px;
        path {
            fill: var(--text-title);
        }
    }
    &__line {
        margin-top: 12px;
    }
    &__condition {
        margin-top: 12px;
        span {
            font-size: 16px;
            line-height: 20px;
            color: var(--text-paragraph);
            white-space: nowrap;
        }
    }
    &__size {
        margin-top: 7px;
        span {
            font-size: 16px;
            line-height: 20px;
            color: var(--text-paragraph);
        }
    }
    &__actions {
        display: flex;
        column-gap: 8px;
        margin-top: 16px;
    }
    &__wishlist_container {
        position: relative;
        width: 20px;
        height: 20px;
    }
    &__cart {
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        width: 20px;
        height: 20px;
        path {
            fill: var(--main-color);
        }
    }
    &__your{
        font-size: 18px;
        color: var(--text-paragraph);
    }
}

.active {
    path {
        fill: var(--main-color);
    }
}

.incart {
    path {
        fill: var(--main-red);
    }
}