.clothestype{
    &__body{
        display: flex;
        padding: 32px 0px 64px 0px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;
        width: 100%;
    }
}