.faq{
    &__body{
        padding: 32px 0px 64px 0px;
    }
    &__wrapper_item{
        margin-top: 48px;
        display: flex;
        column-gap: 24px;
    }
    &__column{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    &__title_item{
        p{
            font-size: 24px;
            font-weight: 700;
            color: var(--main-color);
            line-height: 30px;
        }
    }
}

.faq_item{
    &__btn{
        background-color: inherit;
        text-align: left;
        position: relative;
        padding-right: 54px;
        width: 100%;
    }
    &__plus{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 0;
        height: 14px;
        width: 14px;
        opacity: 0.5;
        &::after{
            content: '';
            height: 2px;
            width: 100%;
            background-color: var(--text-paragraph);
            border-radius: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
        }
        &::before{
            content: '';
            height: 2px;
            width: 100%;
            background-color: var(--text-paragraph);
            border-radius: 8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            transition: transform 0.3s ease-in-out;
        }
    }
    &__content{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        p{
            color: var(--text-paragraph);
        }
    }
}

.active{
    &::after{
        transform: translateY(-50%) rotate(180deg);
    }
    &::before{
        transform: translateY(-50%) rotate(360deg) scale(0);
    }
}