.filter {
    width: 267px;
    display: flex;
    flex-shrink: 0;
    margin-left: 24px;

    &__body {
        width: 100%;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    &__price_line {
        width: 100%;
        height: auto;
    }
    &__price_value {
        margin-top: 24px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    &__categories {
        cursor: pointer;
    }
    &__categories_list{
        row-gap: 18px;
        display: flex;
        flex-direction: column;
    }
    &__categories_btn {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--main-color);
    }
    &__condition_inputs {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
    }
    &__condition_label {
        display: flex;
        align-items: center;
        p {
            font-size: 16px;
            font-weight: 500;
            margin-left: 8px;
            line-height: 20px;
            color: var(--text-title);
        }
    }
    &__cloth_size_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    &__label_size {
        position: relative;
        padding: 6px 12px;
        border-radius: 6px;
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            position: relative;
            color: var(--text-title);
        }
        input {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            top: 0;
            left: 0;
            background-image: none !important;
            background-color: var(--gray-light);
            border-radius: 6px;
            &:checked {
                background-image: none !important;
                background-color: var(--main-color) !important;
            }
        }
    }
    &__color_wrapper{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    &__color_input{
        background-image: none !important;
        width: 32px !important;
        height: 32px !important;
        border-radius: 100%;
        transition: border 0.2s ease-in-out;
        &:checked{
            background-image: url(../../assets/icons/checked.svg) !important;
        }
    }
}
