.header {
    position: relative;
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 95px;
    }
    &__logo {
        path {
            transition: fill 0.2s ease-in-out;
        }
        &:hover {
            path {
                fill: var(--main-color);
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 22px;
        h2 {
            white-space: nowrap;
            &:hover {
                font-weight: 500;
            }
        }
    }
    &__actives {
        display: flex;
        column-gap: 24px;
        align-items: center;
    }
    &__cart {
        width: 20px;
        height: 20px;
        cursor: pointer;
        path {
            fill: var(--main-color);
        }
    }
    &__counter {
        position: absolute;
        top: -5px;
        font-family: "PTRoot";
        font-size: 12px;
        line-height: 15px;
        color: var(--main-color);
        pointer-events: none;
    }
    &__person {
        opacity: 0.5;
        cursor: pointer;
        path {
            fill: var(--text-paragraph);
        }
    }
}

.modal {
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translate(50%);
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    &__body {
        background-color: var(--white-bg);
        padding: 24px;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
    &__links {
        display: flex;
        flex-direction: column;
    }
    &__link {
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-top: 12px;
        pointer-events: none;
        cursor: none;
        &:nth-child(1) {
            margin-top: 0px;
        }
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-left: 8px;
            color: var(--text-paragraph);
            transition: color 0.2s ease-in-out;
        }
        &:hover {
            .modal__ico {
                path {
                    fill: var(--main-color);
                }
            }
            .modal__ico_heart {
                path {
                    stroke: var(--main-color);
                }
            }
            span {
                color: var(--text-title);
            }
        }
    }
    &__ico {
        width: 20px;
        height: 20px;
        path {
            fill: var(--text-paragraph);
            transition: fill 0.2s ease-in-out;
        }
    }
    &__ico_heart {
        path {
            fill: var(--white-bg);
            stroke: var(--text-paragraph);
            transition: fill 0.2s ease-in-out;
        }
    }
}

.modalwish {
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translate(50%);
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    &__body {
        background-color: var(--white-bg);
        padding: 24px;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
    &__empty_cart{
        white-space: nowrap;
        font-size: 18px;
        color: var(--text-paragraph);
    }
    &__item {
        display: flex;
        column-gap: 12px;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            border-radius: 8px;
            object-fit: cover;
        }
        h2 {
            white-space: nowrap;
        }
    }
    &__name {
        height: 50px;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
        span {
            white-space: nowrap;
            color: var(--text-paragraph);
        }
    }
    &__price {
        display: flex;
        align-items: center;
    }
    &__uah {
        width: 16px;
        height: 16px;
    }
    &__buttons {
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        column-gap: 12px;
    }
    &__full {
        cursor: pointer;
        background-color: var(--gray-light);
        border-radius: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s ease-in-out;
        span {
            font-size: 24px;
            font-weight: 500;
            color: var(--text-paragraph);
            transition: color 0.2s ease-in-out;
        }
        &:hover {
            background-color: var(--main-color);
            span {
                color: var(--white-bg);
            }
        }
    }
    &__cart_link {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: var(--main-color);
        transition: background-color 0.2s ease-in-out;
        &:hover{
            background-color: #4d547e;
        }
        svg{
            path{
                fill: var(--gray-light);
            }
        }
    }
    &__remove {
        cursor: pointer;
        width: 20px;
        height: 20px;
        transition: all 0.2s ease-in-out;
        path{
            fill: var(--main-red);
        }
        &:hover{
            transform: rotate(90deg);
        }
    }
}

.active {
    top: 50px;
    opacity: 1;
    pointer-events: all;
    .modal__link {
        pointer-events: all;
        cursor: pointer;
    }
}
