.header {
    position: relative;
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 95px;
    }
    &__logo {
        path {
            transition: fill 0.2s ease-in-out;
        }
        &:hover {
            path {
                fill: var(--main-color);
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 22px;
        h2 {
            white-space: nowrap;
            &:hover {
                font-weight: 500;
            }
        }
    }
    &__actives {
        display: flex;
        column-gap: 24px;
        align-items: center;
    }
    &__favorite {
        width: 20px;
        height: 20px;
        cursor: pointer;
        path {
            fill: var(--main-color);
        }
    }
    &__counter {
        position: absolute;
        top: -5px;
        font-family: "PTRoot";
        font-size: 12px;
        line-height: 15px;
        color: var(--main-color);
        pointer-events: none;
    }
    &__person {
        cursor: pointer;
        path {
            fill: var(--text-paragraph);
        }
    }
}

.modal {
    position: absolute;
    bottom: -500%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    cursor: none;
    &__body {
        background-color: var(--white-bg);
        padding: 24px;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
    &__liks {
        display: flex;
        flex-direction: column;
    }
    &__link {
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-top: 12px;
        pointer-events: none;
        cursor: none;
        &:nth-child(1) {
            margin-top: 0px;
        }
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--text-paragraph);
            transition: color 0.2s ease-in-out;
        }
        &:hover{
            .modal__ico{
                path{
                    fill: var(--main-color);
                }
            }
            span{
                color: var(--text-title);
            }
        }
    }
    &__ico {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        path {
            fill: var(--text-paragraph);
            transition: fill 0.2s ease-in-out;
        }
    }
}

.active{
    bottom: -300%;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    .modal__link{
        pointer-events: all;
        cursor: pointer;
    }
}