.home{
    &__body{
        padding: 32px 0px 74px 0px;
    }
    &__choose{
        margin-top: 64px;   
    }
    &__choose_item{
        width: 267px;
    }
    &__choose_item_body{
        text-align: center;
    }
    &__choose_item_title{
        margin-top: 24px;
    }
    &__choose_item_subtitle{
        margin-top: 16px;
        span{
            color: var(--text-paragraph);
        }
    }
    &__choose_content{
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
    }
}