.search {
    display: flex;
    border-bottom: 1px solid var(--gray-light);
    align-items: center;
    svg {
        opacity: 0.5;
        path {
            fill: var(--text-paragraph);
        }
    }
    input {
        margin-left: 12px;
        font-family: "PTRoot";
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--text-paragraph);
        padding: 12px 0px;
        width: 100%;
    }
}
